/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

 :root{
    /*- COLORI PRIMARIO -*/
    --clr-primary-0: rgb(46, 186, 238);
    --clr-primary-1: rgb(70, 82, 157);
    --clr-primary-2: rgb(45, 51, 83);

    /*- COLORI SECONDARIO -*/
    --clr-secondary-0: white;
    --clr-secondary-1: rgba(255, 255, 255, 0.5);


    /*-COLORI BG -*/
    --clr-bg-0: rgb(215, 228, 240);
    --clr-bg-1: rgb(19, 137, 178);
    --clr-bg-2: #46529d;
    --clr-bg-3: rgb(255, 209, 102);
    --clr-bg-4: rgb(240, 70, 111);

    --clr-btn-form: rgb(74, 147, 174);
    --clr-btn-edit: #FFD166  ;
    --clr-btn-remove: #EF476F  ;
    --clr-btn-complete: #06D6A0  ;
    --clr-btn-h-edit: #ffd1667a  ;
    --clr-btn-h-remove: #ef476e82  ;
    --clr-btn-h-complete: #06d69e84  ;

    /*- DIMENSIONI GUTTER*/
    --gutter-xs: .25rem;
    --gutter-sm: .5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-xxl: 3rem;

}

/*╔═══════════════╗
       DEBUG
  ╚═══════════════╝*/

  
/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/

body{
  font-family: 'Nunito', sans-serif;
  color: var(--colore-testo);
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--clr-bg-0);
  font-weight: 200;
  
}

#app{
  position: relative;
}

/*--- TYPO ---*/

  h3{
    font-weight: 400;
    letter-spacing: 3px;
    text-shadow: 2px 0 0 rgba(0, 0, 0, 0.25), -2px 0 0 rgba(0, 0, 0, 0.25), 0 2px 0 rgba(0, 0, 0, 0.25), 0 -2px 0 rgba(0, 0, 0, 0.25), 1px 1px rgba(0, 0, 0, 0.25), -1px -1px 0 rgba(0, 0, 0, 0.25), 1px -1px 0 rgba(0, 0, 0, 0.25), -1px 1px 0 rgba(0, 0, 0, 0.25);
  }


/*--- BUTTON ---*/

.btn{
  height: 20px;
  aspect-ratio: 1/1;
  font-size: 0.75rem;
  border-radius: 100%;
  border: none;
  margin-left: 0.2rem;
}

.btn--add{
  background-color: var(--clr-primary-0);
  color: var(--clr-secondary-0);
  position: relative;
  top: -0.9rem;
  transform: scale(1.5);
}

.btn--add:hover{
  background-color: var(--clr-primary-1);
}

.btn-form{
  width: 100%;
  border: none;
  padding: 0.3rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-size: large;
  font-weight: 400;
  color: var(--clr-secondary-0);
  background-color: var(--clr-primary-0);
}

.btn-form:hover{
  transform: scale(1.1);
  background-color: var(--clr-btn-form);
}

.btn--edit{
  background-color: var(--clr-btn-edit);
}
.btn--remove{
  background-color: var(--clr-btn-remove);
}
.btn--complete{
  background-color: var(--clr-btn-complete);
}
.btn--edit:hover{
  background-color: var(--clr-btn-h-edit);
}
.btn--remove:hover{
  background-color: var(--clr-btn-h-remove);
}
.btn--complete:hover{
  background-color: var(--clr-btn-h-complete);
}

/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/
/*--- HEADER ---*/
.header{
  display: flex;
  align-items: center;
  background-image: url("../img/img.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 200px;
  color: var(--clr-secondary-0);
  position: relative;
}

.container{
  background-color: white;
}
/*--- lato sx ---*/
.header__menu-sx {
  width:60%;
  padding:var(--gutter-md);
  border-bottom: 2px solid;
  border-color: var(--clr-primary-1);
  height: 100%;
  display: flex;
  align-items: center;

}

.header__date {
  position: absolute;
  letter-spacing: 1px;
  bottom: var(--gutter-md);
}

/*--- lato dx ---*/
.header__menu-dx{
  width: 40%;
  padding:var(--gutter-md);
  height: 100%;
  display: grid;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.task__info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  
}
.task__type{
  text-align: center;
}
.type__number{
  font-size: 1.5rem;
  
}
.type__tag{
  margin-top: -0.4rem;
  font-weight: 400;
  color: var(--clr-secondary-1);

}

.task__progress{
  position: absolute;
  bottom: var(--gutter-md);
  right: var(--gutter-md);
  color: var(--clr-secondary-1);
}


/*--- TASK LIST ---*/
.task-list{
  height: 385px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: var(--gutter-sm);
  padding: 0 var(--gutter-md);
}

.task-list__item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: var(--gutter-md) 0;
  border-bottom: 1px solid lightgray;
}

.task-list__item:last-child{
  padding-bottom: var(--gutter-lg);
}

.task-item__img{
  color: var(--clr-primary-0);
}
.task-item__img span{
  aspect-ratio: 1/1;
  border-radius: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--clr-primary-0);

}
.task-item__Info{
  flex-grow: 1;
}
.task-item__date{
  text-align: right;
}
.task-item__title,.task-item__place{
  text-transform: capitalize;
} 
/*--- FOOTER ---*/

footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem var(--gutter-md);
  padding-bottom: var(--gutter-sm);
}


.filter{
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.filter__number{
  aspect-ratio: 1/1;
  font-weight: 600;
  color: var(--clr-secondary-0);
  background-color: var(--clr-primary-0);
}

.filter__number{
  aspect-ratio: 1/1;
  height: 20px;
  display: grid;
  place-items: center;
  font-size: small;
  border-radius: 100%;
}

.form{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--clr-bg-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--gutter-xl);
}

.form__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.form__header i {
  font-size: 1.5rem;
  color: var(--clr-primary-0);
}

.form__header h4{
  color: white;
  font-size: medium;
  font-weight: 600;
}

.form__body{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.form__body select{
  padding-bottom: 6px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--clr-secondary-1);
  font-weight: 600;
  top: 30px;
  color: var(--clr-primary-0);

}

.form__body select:focus{
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-color:var(--clr-secondary-1);
  border-image-slice: 1;
}


/*-----------*/

.form__field {
  box-sizing: border-box;
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--clr-secondary-1);
  outline: 0;
  font-size: 1rem;
  color: var(--clr-secondary-0);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  font-weight: 600;
  top: 30px;
  color: var(--clr-primary-0);
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--clr-primary-0);
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-color:var(--clr-secondary-1);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--clr-primary-0);
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.task-item__Info--input{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.task-item__Info--input input{
  border: none;
  border-bottom: 2px solid var(--clr-primary-0)
}









/*--- Funzioni js ---*/
.done{
  opacity: 0.5;
  
}

.done .task-item__Info{
  text-decoration: line-through;
}