<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap" rel="stylesheet"> 
    <!-- FOGLI DI STILE -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- VUE-JS VERSION 2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Vue ~ ToDoList</title>
</head>
<body>
    <div class="container">
        <div id="app">
            <div class="header">

                <div class="header__menu-sx">
                    <div class="header__title">
                        <h3 class="header__text">Your</h3>
                        <h3 class="header__text">Task List</h3>
                    </div>
                    <div class="header__date"><small>{{printDate}}</small></div>
                </div>

                <div class="header__menu-dx">
                    <div class="header__task">
                        <div class="task__info">
                            <div class="task__type">
                                <div class="type__number">{{todosPersonal.length}}</div>
                                <div class="type__tag"><small>personal</small></div>
                            </div>
                            <div class="task__type">
                                <div class="type__number">{{todosWork.length}}</div>
                                <div class="type__tag"><small>Work</small></div>
                            </div>
                            <div class="task__progress">
                                <span class="progress__bar"> circle</span>
                                <span class="progress__info"> 65% total</span>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
            <div class="main">
                <ul v-if="this.isTaskDoneVisible" class="task-list">
                    <li class="task-list__item" :class="{done:task.isDone}" v-for="(task,i) in todosUncomplete">
                        <div class="task-item__img" ><span>
                            <i v-if="task.type"class="fa-solid fa-person"></i>
                            <i v-else class="fa-brands fa-black-tie"></i>
                        </span>
                        </div>
                        <div class="task-item__Info">
                            <div class="task-item__title">{{task.msg}}</div>
                            <div class="task-item__place">{{task.place}}</div>
                        </div>
                        <div>
                            <div class="task-item__date">{{task.date}}</div>
                            <div class="task-item__btn"> 
                                <button class="btn btn--edit" @click="editToDo(task)"> <i class="fa-solid fa-pen"></i></button>
                                <button class="btn btn--remove" @click="removeToDo(i)"> <i class="fa-solid fa-trash-can"></i></button>
                                <button class="btn btn--complete" @click="completeToDo(task)"> <i class="fa-solid fa-check"></i></button> </div> 
                        </div>
                        
                    </li>
                </ul>
                <ul v-else class="task-list">
                    <li class="task-list__item" :class="{done:task.isDone}" v-for="(task,i) in todosComplete">
                        <div class="task-item__img" ><span>
                            <i class="fa-solid fa-person"></i>
                        </span>
                    </div>
                        <div class="task-item__Info">
                            <div class="task-item__title">{{task.msg}}</div>
                            <div class="task-item__place">{{task.place}}
                                
                            </div>
                        </div>
                        <div>
                            <div class="task-item__date">{{task.date}}</div>
                            <div class="task-item__btn"> 
                                <button class="btn" @click="editToDo(task)"> <i class="fa-solid fa-pen"></i></button>
                                <button class="btn" @click="removeToDo(i)"> <i class="fa-solid fa-trash-can"></i></button>
                                <button class="btn" @click="completeToDo(task)"> <i class="fa-solid fa-check"></i></button> 
                            </div> 
                        </div>
                        
                    </li>
                </ul>
                
            </div>
            <footer>
                <div v-if="this.isTaskDoneVisible" class="filter" @click="toggleUl()">
                    <span class="filter__text">complete</span>
                    <span class="filter__number"><span>{{todosComplete.length}}</span></span>
                </div>
                <div v-else class="filter" @click="toggleUl()">
                    <span class="filter__text">Da completare</span>
                    <span class="filter__number"><span>{{todosUncomplete.length}}</span></span>
                </div>
                <button class="btn btn--add" @click="menuOpen()"><i class="fa-solid fa-plus"></i></button>
            </footer>





            <div class="form" v-show="this.openMenu">
                <div class="form__header">
                    <i class="fa-solid fa-arrow-left" @click="menuOpen()"></i>
                    <h4>Aggiungi una task</h4>
                    <div></div>
                </div>
                <div class="form__body">
                    <select name="select"  v-model="selected" id="select">
                        <option value="personal">Personali</option>
                        <option value="work">Lavoro</option>
                    </select>
                    <div class="form__group field">
                        <input type="input" v-model="title" class="form__field" placeholder="titolo" name="titolo" id='titolo' required />
                        <label for="titolo" class="form__label">Titolo</label>
                    </div>
                    
                    <div class="form__group field">
                        <input type="input" v-model="where" class="form__field" placeholder="luogo" name="luogo" id='luogo' required />
                        <label for="luogo"  class="form__label">Luogo</label>
                    </div>
                    

                </div>

                <button class="btn-form" @click="addToDo()">Aggiungi</button>
            </div>







        </div>
    </div>


    <script src="js/main.js"></script>
</body>
</html>